{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "unicorn", "unused-imports"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:unicorn/recommended",
    "plugin:n/recommended",
    "plugin:promise/recommended",
    "plugin:ava/recommended",
    "plugin:you-dont-need-lodash-underscore/all"
  ],
  "rules": {
    "unicorn/no-null": 0,
    "unused-imports/no-unused-imports": "error",
    "no-console": "error",
    "require-await": "off",
    "@typescript-eslint/require-await": "error",
    "@typescript-eslint/naming-convention": "error",
    "import/no-cycle": "error",
    "import/no-self-import": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "import/order": [
      2,
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  },
  "overrides": [
    {
      "files": ["src/grpc/**/*.ts"],
      "rules": {
        "@typescript-eslint/naming-convention": 0
      }
    },
    {
      "files": ["*test.ts"],
      "rules": {
        "unicorn/no-array-for-each": 0
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "typescript": true,
      "node": true
    }
  }
}
