.DS_store
crash.log
.idea
.vscode
cloudquery
cloudquery.db
cloudquery.zip
/config.yml
dist/
vendor/
bin/
.release-env
cq-provider-*
*.exe
*.log
.cq_reattach
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*