.DS_store
crash.log
.idea
.vscode
cover.out
cloudquery
cloudquery.db
cloudquery.zip
/cloudquery.yml
dist/
vendor/
bin/
.release-env
*.tfstate*
.terraform*
*.log
/.cq/
database-data/*
dest/*
outfile
cli/examples
test_init_config.yml
telemetry-random-id
go.work
go.work.sum
cli/examples
cli/cli
plugins/source/aws/aws
plugins/source/gcp/gcp