.DS_store
crash.log
.idea
.vscode
cloudquery
cloudquery.db
cloudquery.zip
/cloudquery.yml
policy.yml
dist/
vendor/
bin/
.release-env
*.tfstate*
.terraform*
*.log
/.cq/
/pkg/policy/tests/output/
/pkg/policy/cq/*
/pkg/ui/console/.cq/*
database-data/*
dest/*
outfile
test_init_config.yml
telemetry-random-id
go.work
go.work.sum
cli/cli
plugins/source/gcp/gcp