/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq
/plugins/destination/postgresql @yevgenypats

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
