CQ_CI_PLAYWRIGHT_TEST_USER_EMAIL=
CQ_CI_PLAYWRIGHT_TEST_USER_PASSWORD=
CQ_CI_PLAYWRIGHT_PREVIEW_LINK=
REACT_APP_PLUGIN_TEAM=cloudquery
REACT_APP_PLUGIN_KIND=destination
REACT_APP_PLUGIN_NAME=bigquery
REACT_APP_PLUGIN_VERSION=development