{
  Name:        {{.Name}},
  Type:        {{.Type}},
  {{with .Resolver }}Resolver: {{$.Resolver}},{{end}}
  {{with .CreationOptions}}CreationOptions: schema.ColumnCreationOptions{
    NotNull: !{{.Nullable}},
    Unique: {{.Unique}}},
  {{end}}
},