.DS_store
crash.log
.idea
.vscode
cloudquery
cloudquery.db
cloudquery.zip
/config.yml
dist/
vendor/
bin/
.release-env
cq-provider-aws
*.exe
*.log

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
