name: Check for broken links

on:
  pull_request:
    # paths:
    #   - "website/**"

jobs:
  check-broken-links:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: "lts/*"

      - name: Should run
        id: should-run
        shell: bash
        run: |
          ! yarn should-build
        working-directory: website
        continue-on-error: true

      - name: Waiting for Vercel Preview
        if: steps.should-run.outcome == 'success'
        uses: patrickedqvist/wait-for-vercel-preview@v1.2.0
        id: vercel-deployment
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          environment: "Preview – cloudquery-web"
          max_timeout: 360
          check_interval: 10

      - name: Check for broken links
        if: steps.should-run.outcome == 'success'
        run: |
          set -o pipefail

          npx broken-link-checker -f -r -v -o --filter-level 3 \
            --exclude linkedin \
            --exclude cloudquery.io/discord \
            --exclude cloudquery.io/assets/aws_security_group_view.sql \
            --exclude https://www.cloudquery.io/logo \
            --exclude fonts.gstatic.com \
            --exclude fonts.googleapis.com \
            --exclude twitter.com \
            --exclude support.google.com \
            --exclude work-bench.com \
            --exclude podcasts.apple.com \
            --exclude docs.cloudquery.io/cdn-cgi/l/email-protection \
            --exclude pcisecuritystandards.org \
            ${{ steps.vercel-deployment.outputs.url }} \
            | grep -v '───OK───' | grep -v '──SKIP──'
