name: CLI Workflow

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - "cli/**"
      - ".github/workflows/cli.yml"
  push:
    branches:
      - main
    paths:
      - "cli/**"
      - ".github/workflows/cli.yml"

jobs:
  cli:
    timeout-minutes: 30
    name: "cli"
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ./cli
    strategy:
      fail-fast: false
      matrix:
        os: [large-ubuntu-monorepo, macos-latest-xl, large-windows-monorepo]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version-file: cli/go.mod
          cache: true
          cache-dependency-path: cli/go.sum
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        if: matrix.os == 'large-ubuntu-monorepo'
        with:
          version: v1.52.2
          working-directory: cli
          skip-pkg-cache: true
          skip-build-cache: true
      - name: Build
        run: go build .
      - name: Test
        run: make test
      - name: gen-docs
        if: matrix.os == 'large-ubuntu-monorepo'
        run: make gen-docs
      - name: Fail if docs are changed
        if: matrix.os == 'large-ubuntu-monorepo'
        run: test "$(git status -s ../website/pages/docs/reference/cli/*.md | wc -l)" -eq 0
  validate-release:
    timeout-minutes: 30
    runs-on: large-ubuntu-monorepo
    env:
      CGO_ENABLED: 0
    steps:
      - name: Checkout
        if: startsWith(github.head_ref, 'release-please--branches--main--components') || github.event_name == 'push'
        uses: actions/checkout@v3
      - uses: actions/cache@v3
        if: startsWith(github.head_ref, 'release-please--branches--main--components') || github.event_name == 'push'
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ubuntu-go-1.21.0-release-cache-${{ hashFiles('cli/go.sum') }}
          restore-keys: |
            ubuntu-go-1.21.0-release-cache-cli
      - name: Set up Go
        if: startsWith(github.head_ref, 'release-please--branches--main--components') || github.event_name == 'push'
        uses: actions/setup-go@v3
        with:
          go-version-file: cli/go.mod
      - name: Install GoReleaser
        if: startsWith(github.head_ref, 'release-please--branches--main--components') || github.event_name == 'push'
        uses: goreleaser/goreleaser-action@v3
        with:
          distribution: goreleaser-pro
          version: latest
          install-only: true
      - name: Run GoReleaser Dry-Run
        if: startsWith(github.head_ref, 'release-please--branches--main--components') || github.event_name == 'push'
        run: goreleaser release --snapshot --clean --skip-validate --skip-publish --skip-sign -f ./cli/.goreleaser.yaml
        env:
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
