name: Destination Plugin Snowflake Workflow

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - "plugins/destination/snowflake/**"
      - ".github/workflows/dest_snowflake.yml"
  push:
    branches:
      - main
    paths:
      - "plugins/destination/snowflake/**"
      - ".github/workflows/dest_snowflake.yml"

jobs:
  plugins-destination-snowflake:
    timeout-minutes: 30
    name: "plugins/destination/snowflake"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./plugins/destination/snowflake
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Set up Go 1.x
        uses: actions/setup-go@v4
        with:
          go-version-file: plugins/destination/snowflake/go.mod
          cache: true
          cache-dependency-path: plugins/destination/snowflake/go.sum
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.55.2
          working-directory: plugins/destination/snowflake
          args: "--config ../../.golangci.yml"
          skip-pkg-cache: true
          skip-build-cache: true
      - name: gen
        if: github.event_name == 'pull_request'
        run: make gen
      - name: Fail if generation updated files
        if: github.event_name == 'pull_request'
        run: test "$(git status -s | wc -l)" -eq 0 || (git status -s; exit 1)
      - name: Build
        run: go build .
      - name: Test
        run: make test
        env: # Or as an environment variable
          SNOW_TEST_DSN: ${{ secrets.SNOW_TEST_DSN }}
  validate-release:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cloudquery/golang-cross:v10.0.0
      env:
        CGO_ENABLED: 1
    steps:
      - name: Checkout
        if: startsWith(github.head_ref, 'release-please--branches--main--components') || github.event_name == 'push'
        uses: actions/checkout@v4
      - uses: actions/cache@v3
        if: startsWith(github.head_ref, 'release-please--branches--main--components') || github.event_name == 'push'
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-1.21.6-release-cache-${{ hashFiles('plugins/destination/snowflake/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-1.21.6-release-cache-plugins-destination-snowflake
      - name: Set up Go
        if: startsWith(github.head_ref, 'release-please--branches--main--components') || github.event_name == 'push'
        uses: actions/setup-go@v4
        with:
          go-version-file: plugins/destination/snowflake/go.mod
          cache: false
      - name: Install GoReleaser
        if: startsWith(github.head_ref, 'release-please--branches--main--components') || github.event_name == 'push'
        uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser-pro
          version: latest
          install-only: true
      - name: Run GoReleaser Dry-Run
        if: startsWith(github.head_ref, 'release-please--branches--main--components') || github.event_name == 'push'
        run: goreleaser release --snapshot --clean --skip=validate,publish,sign -f ./plugins/destination/snowflake/.goreleaser.yaml
        env:
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}