name: Destination Plugin Snowflake Workflow

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - "plugins/destination/snowflake/**"
      - ".github/workflows/dest_snowflake.yml"
  push:
    branches:
      - main
    paths:
      - "plugins/destination/snowflake/**"
      - ".github/workflows/dest_snowflake.yml"

permissions:
  contents: read

jobs:
  plugins-destination-snowflake:
    timeout-minutes: 30
    name: "plugins/destination/snowflake"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./plugins/destination/snowflake
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - name: Set up Go 1.x
        id: setup-go
        uses: actions/setup-go@v6
        with:
          go-version-file: plugins/destination/snowflake/go.mod
          cache: false
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ steps.setup-go.outputs.go-version }}-test-destination-snowflake-${{ hashFiles('plugins/destination/snowflake/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ steps.setup-go.outputs.go-version }}-test-destination-snowflake-
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.10.1
          working-directory: plugins/destination/snowflake
          args: "--config ../../.golangci.yml"
      - name: gen
        if: github.event_name == 'pull_request'
        run: make gen
      - name: Fail if generation updated files
        if: github.event_name == 'pull_request'
        run: test "$(git status -s | wc -l)" -eq 0 || (git status -s; exit 1)
      - name: Build
        run: go build .
      - name: Test
        run: make test
        env: # Or as an environment variable
          SNOW_TEST_DSN: ${{ secrets.SNOW_TEST_DSN }}
  