name: Destination Plugin Meilisearch Workflow

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - plugins/destination/meilisearch/**
      - .github/workflows/dest_meilisearch.yml
  push:
    branches:
      - main
    paths:
      - plugins/destination/meilisearch/**
      - .github/workflows/dest_meilisearch.yml

permissions:
  contents: read

jobs:
  plugins-destination-meilisearch:
    name: "plugins/destination/meilisearch"
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        working-directory: plugins/destination/meilisearch
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - name: Set up Go 1.x
        id: setup-go
        uses: actions/setup-go@v6
        with:
          go-version-file: plugins/destination/meilisearch/go.mod
          cache: false
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ steps.setup-go.outputs.go-version }}-test-destination-meilisearch-${{ hashFiles('plugins/destination/meilisearch/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ steps.setup-go.outputs.go-version }}-test-destination-meilisearch-
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.10.1
          working-directory: plugins/destination/meilisearch
          args: "--config ../../.golangci.yml"
      - name: gen
        if: github.event_name == 'pull_request'
        run: make gen
      - name: Fail if generation updated files
        if: github.event_name == 'pull_request'
        run: test "$(git status -s | wc -l)" -eq 0 || (git status -s; exit 1)
      - run: go mod tidy
      - name: Build
        run: go build .
      - name: Test Meilisearch
        run: make test
