name: Destination Plugin S3 Workflow

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - "plugins/destination/filetypes/**"
      - "plugins/destination/s3/**"
      - ".github/workflows/dest_s3.yml"
  push:
    branches:
      - main
    paths:
      - "plugins/destination/filetypes/**"
      - "plugins/destination/s3/**"
      - ".github/workflows/dest_s3.yml"

jobs:
  plugins-destination-s3:
    timeout-minutes: 30
    name: "plugins/destination/s3"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./plugins/destination/s3
    permissions:
      id-token: write
      contents: read # This is required for actions/checkout@v3
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::615713231484:role/destination-s3
          aws-region: us-east-1
      - name: Set up Go 1.x
        uses: actions/setup-go@v5
        with:
          go-version-file: plugins/destination/s3/go.mod
          cache: true
          cache-dependency-path: plugins/destination/s3/go.sum
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.55.2
          working-directory: plugins/destination/s3
          args: "--config ../../.golangci.yml"
          skip-pkg-cache: true
          skip-build-cache: true
      - name: gen
        if: github.event_name == 'pull_request'
        run: make gen
      - name: Fail if generation updated files
        if: github.event_name == 'pull_request'
        run: test "$(git status -s | wc -l)" -eq 0 || (git status -s; exit 1)
      - name: Build
        run: go build .
      - name: Test s3 plugin
        run: make test
  
