name: Destination Plugin DuckDB Workflow

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - "plugins/destination/duckdb/**"
      - ".github/workflows/dest_duckdb.yml"
  push:
    branches:
      - main
    paths:
      - "plugins/destination/duckdb/**"
      - ".github/workflows/dest_duckdb.yml"

jobs:
  plugins-destination-duckdb:
    timeout-minutes: 30
    name: "plugins/destination/duckdb"
    runs-on: large-ubuntu-monorepo
    defaults:
      run:
        working-directory: ./plugins/destination/duckdb
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Set up Go 1.x
        uses: actions/setup-go@v4
        with:
          go-version-file: plugins/destination/duckdb/go.mod
          cache: true
          cache-dependency-path: plugins/destination/duckdb/go.sum
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.54.2
          working-directory: plugins/destination/duckdb
          args: "--config ../../.golangci.yml"
          skip-pkg-cache: true
          skip-build-cache: true
      - name: Build
        run: go build .
      - name: Test
        run: make test
  validate-release:
    timeout-minutes: 30
    runs-on: large-ubuntu-monorepo
    container:
      image: ghcr.io/cloudquery/golang-cross:v10.0.0
      env:
        CGO_ENABLED: 1
    steps:
      - name: Checkout
        if: startsWith(github.head_ref, 'release-please--branches--main--components') || github.event_name == 'push'
        uses: actions/checkout@v4
      - uses: actions/cache@v3
        if: startsWith(github.head_ref, 'release-please--branches--main--components') || github.event_name == 'push'
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-1.21.1-release-cache-${{ hashFiles('plugins/destination/duckdb/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-1.21.1-release-cache-plugins-destination-duckdb
      - name: Set up Go
        if: startsWith(github.head_ref, 'release-please--branches--main--components') || github.event_name == 'push'
        uses: actions/setup-go@v4
        with:
          go-version-file: plugins/destination/duckdb/go.mod
      - name: Install GoReleaser
        if: startsWith(github.head_ref, 'release-please--branches--main--components') || github.event_name == 'push'
        uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser-pro
          version: latest
          install-only: true
      - name: Run GoReleaser Dry-Run
        if: startsWith(github.head_ref, 'release-please--branches--main--components') || github.event_name == 'push'
        run: goreleaser release --snapshot --clean --skip-validate --skip-publish --skip-sign -f ./plugins/destination/duckdb/.goreleaser.yaml
        env:
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
