name: Generate GCP Services
on:
  schedule:
    - cron: "0 8 * * 1"
  workflow_dispatch:

defaults:
  run:
    working-directory: ./plugins/source/gcp

jobs:
  services:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version-file: plugins/source/gcp/go.mod
          cache: true
          cache-dependency-path: plugins/source/gcp/go.sum
      - name: regenerate services file
        run: |
          make gen-services
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          # required so the PR triggers workflow runs
          token: ${{ secrets.GH_CQ_BOT }}
          branch: fix/gcp_gen_services
          base: main
          title: "fix(services): Update GCP Services"
          commit-message: "fix(services): Update GCP Services"
          body: This PR was created by a scheduled workflow to update GCP Services
          author: cq-bot <cq-bot@users.noreply.github.com>
