name: lint-monorepo
on:
  push:
    branches:
      - main
      - monorepo
  pull_request:
    branches:
      - main
      - monorepo
jobs:
  resolve-modules:
    name: Resolve Modules
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v3
      - id: set-matrix
        run: ./scripts/resolve-modules.sh
  golangci:
    name: Linter
    needs: resolve-modules
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJson(needs.resolve-modules.outputs.matrix) }}
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          token: ''
          filters: |
            module_files:
              - '${{ matrix.workdir }}/**'
      # Plugins and CLI have different linting configurations
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        if: steps.changes.outputs.module_files == 'true' && matrix.workdir == 'cli'
        with:
          version: v1.47.3
          working-directory: ${{ matrix.workdir }}
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        if: steps.changes.outputs.module_files == 'true' && matrix.workdir != 'cli'
        with:
          version: v1.47.3
          working-directory: ${{ matrix.workdir }}
          args: "--config ${GITHUB_WORKSPACE}/plugins/.golangci.yml" 