name: Release All PRs
on:
  workflow_dispatch:
permissions:
  contents: read
  pull-requests: write

jobs:
  add-automerge-labels:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Add token to config.yaml
        uses: jacobtomlinson/gha-find-replace@dfbfef71bc27c27c39d89534540a8960e0eee6b0
        with:
          find: GITHUB_TOKEN_VALUE
          replace: ${{ secrets.GITHUB_TOKEN }}
          regex: false
          include: config.yaml

      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'

      - run: npm install -g @google/repo@6.1.2

      - name: Add to release PRs
        run: |
          repo "tag" "--title" "chore\(main\)\: Release" "automerge"