name: release-please
on:
  push:
    branches:
      - main

concurrency:
  group: release-please-main
  cancel-in-progress: true

jobs:
  release-pr:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          command: manifest
          token: ${{ secrets.GH_CQ_BOT }}
          default-branch: main
