# DONT EDIT. This file is synced from https://github.com/cloudquery/.github/.github
name: release-please
on:
  push:
    branches:
      - main

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: go
          package-name: cloudquery
          token: ${{ secrets.GH_CQ_BOT }}
          pull-request-title-pattern: "chore${scope}: Release${component} v${version}"
          bump-minor-pre-major: true
          bump-patch-for-minor-pre-major: true

      # We mark all releases as pre-release until we finish building & uploading the binaries
      # GoReleaser will upload the binaries to GitHub and mark the release as ready
      - name: Mark as pre-release
        if: steps.release.outputs.release_created
        uses: tubone24/update_release@6d158acc48e645c7f2edea4d2d8646d8af44fc30
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG_NAME: ${{ steps.release.outputs.tag_name }}
        with:
          prerelease: true
