name: release-cli
on:
  push:
    tags:
      - 'cli-v*.*.*'
env:
  CGO_ENABLED: 0

jobs:
  release-cli:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      # Tag format is cli-<version>
      - name: Split tag
        id: split
        run: |
          tag=${{github.ref_name}}
          echo "version=$(echo $tag | cut -d- -f2-)" >> $GITHUB_OUTPUT
      # Fail if not a valid SemVer string
      - name: Parse semver string
        id: semver_parser
        uses: booxmedialtd/ws-action-parse-semver@e4a833cf5d612066a210bd9b62d1c3b20be3b325
        with:
          input_string: ${{steps.split.outputs.version}}
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-1.19.3-release-cache-${{ hashFiles('cli/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-1.19.3-release-cache-cli
      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version-file: cli/go.mod
      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v3
        with:
          distribution: goreleaser-pro
          version: latest
          install-only: true
      - name: Run GoReleaser Dry-Run
        run: goreleaser release --rm-dist --skip-validate --skip-publish -f ./cli/.goreleaser.yaml
        env:
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
          GORELEASER_CURRENT_TAG: ${{ github.ref_name }}

      - name: Login to Docker Registry
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | \
          docker login ghcr.io -u $GITHUB_ACTOR --password-stdin

      # Publish to GitHub and Homebrew
      - name: Run GoReleaser Release
        if: steps.semver_parser.outputs.prerelease == ''
        run: goreleaser release --rm-dist -f ./cli/.goreleaser.yaml
        env:
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
          GORELEASER_CURRENT_TAG: ${{ github.ref_name }}
          # A custom token is required for publishing to Homebrew
          GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}

      # Publish only to GitHub
      - name: Run GoReleaser PreRelease
        if: steps.semver_parser.outputs.prerelease != ''
        run: goreleaser release --rm-dist -f ./cli/.goreleaser.prerelease.yaml
        env:
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
          GORELEASER_CURRENT_TAG: ${{ github.ref_name }}
          # A custom token is required for publishing to Homebrew
          GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}

      - name: Update version file
        if: steps.semver_parser.outputs.prerelease == ''
        run: 'echo "{ \"latest\": \"${{github.ref_name}}\" }" > ./websites/versions/cli.json'
          
      - name: Create Pull Request
        if: steps.semver_parser.outputs.prerelease == ''
        uses: peter-evans/create-pull-request@v4
        with:
          # required so the PR triggers workflow runs
          token: ${{ secrets.GH_CQ_BOT }}
          branch: chore/update-cli-version
          base: main
          title: "chore: Update CLI version to ${{steps.split.outputs.version}}"
          commit-message: "chore: Update CLI version to ${{steps.split.outputs.version}}"
          body: Updates the CLI latest version to ${{steps.split.outputs.version}}
          labels: automerge
          author: cq-bot <cq-bot@users.noreply.github.com>