name: Scaffold Workflow

on:
  pull_request:
    paths:
      - "scaffold/**"
      - ".github/workflows/scaffold.yml"
  push:
    branches:
      - main
    paths:
      - "scaffold/**"
      - ".github/workflows/scaffold.yml"

jobs:
  scaffold:
    timeout-minutes: 30
    name: "scaffold"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./scaffold
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version-file: scaffold/go.mod
          cache: true
          cache-dependency-path: scaffold/go.sum
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        if: matrix.os == 'ubuntu-latest'
        with:
          version: v1.52.2
          working-directory: cli
          skip-pkg-cache: true
          skip-build-cache: true
      - name: Get dependencies
        run: go get -t -d ./...
      - name: Build
        run: go build .
      - name: Test
        run: make test
  validate-release:
    if: startsWith(github.head_ref, 'release-please--branches--main--components') || github.event_name == 'push'
    timeout-minutes: 30
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 0
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-1.19.5-release-cache-${{ hashFiles('scaffold/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-1.19.5-release-cache-scaffold
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: scaffold/go.mod
      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v3
        with:
          distribution: goreleaser-pro
          version: latest
          install-only: true
      - name: Run GoReleaser Dry-Run
        run: goreleaser release --snapshot --clean --skip-validate --skip-publish --skip-sign -f ./scaffold/.goreleaser.yaml
        env:
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
