name: Scripts CI

on:
  pull_request:
    paths:
      - "scripts/**"
      - ".github/workflows/scripts_ci.yml"
  push:
    branches:
      - main
    paths:
      - "scripts/**"
      - ".github/workflows/scripts_ci.yml"

permissions:
  contents: read

jobs:
  table-diff:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./scripts/table_diff
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go 1.x
        id: setup-go
        uses: actions/setup-go@v6
        with:
          go-version-file: scripts/table_diff/go.mod
          cache: false
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ steps.setup-go.outputs.go-version }}-test-scripts-table-diff-${{ hashFiles('scripts/table_diff/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ steps.setup-go.outputs.go-version }}-test-scripts-table-diff-
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.10.1
          working-directory: scripts/table_diff
          args: "--config ../../plugins/.golangci.yml"
      - name: Test
        run: go test ./...
  