name: Source Plugin Cloudflare Workflow

on:
  pull_request:
    paths:
      - "plugins/source/cloudflare/**"
      - ".github/workflows/source_cloudflare.yml"
  push:
    branches:
      - main

defaults:
  run:
    working-directory: ./plugins/source/cloudflare

jobs:
  plugins-destination-cloudflare:
    name: "plugins/source/cloudflare"
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version: 1.19.1
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.49.0
          working-directory: plugins/source/cloudflare
          args: "--config ../.golangci.yml"
      - name: Get dependencies
        run: go get -t -d ./...
      - name: Build
        run: go build .
      - name: Test
        run: go test ./...
