name: Source Plugin AWS Workflow

on:
  pull_request:
    paths:
      - "plugins/source/aws/**"
      - ".github/workflows/source_aws.yml"
      - .github/workflows/resolve_runner.yml
      - .github/workflows/validate_release.yml
  push:
    branches:
      - main
    paths:
      - "plugins/source/aws/**"
      - ".github/workflows/source_aws.yml"
      - .github/workflows/resolve_runner.yml
      - .github/workflows/validate_release.yml

jobs:
  resolve-runner:
    uses: ./.github/workflows/resolve_runner.yml
  plugins-source-aws:
    timeout-minutes: 45
    name: "plugins/source/aws"
    needs: [resolve-runner]
    permissions:
      id-token: write
      contents: read
    runs-on: ${{ needs.resolve-runner.outputs.runner }}
    defaults:
      run:
        working-directory: ./plugins/source/aws
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version-file: plugins/source/aws/go.mod
          cache: true
          cache-dependency-path: plugins/source/aws/go.sum
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.52.2
          working-directory: plugins/source/aws
          args: "--config ../../.golangci.yml"
          skip-pkg-cache: true
          skip-build-cache: true
      - name: Get dependencies
        run: go get -t -d ./...
      - name: gen
        if: github.event_name == 'pull_request'
        run: make gen
      - name: Fail if generation updated files
        if: github.event_name == 'pull_request'
        run: test "$(git status -s | wc -l)" -eq 0 || (git status -s; exit 1)
      - name: Build
        run: go build .
      - name: Test
        run: make test
      # Sanity integration test, only for release PRs
      - name: Setup CloudQuery
        if: startsWith(github.head_ref, 'release-please--branches--main--components')
        uses: cloudquery/setup-cloudquery@v3
        with:
          version: 'v2.0.22'
      - name: Configure AWS credentials
        if: startsWith(github.head_ref, 'release-please--branches--main--components')
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::615713231484:role/cq-playground-aws-github-action
          aws-region: us-east-1
      - name: Run sync
        if: startsWith(github.head_ref, 'release-please--branches--main--components')
        run: cloudquery sync test/sanity.yml --log-console
  validate-release:
    if:   startsWith(github.head_ref, 'release-please--branches--main--components') || github.event_name == 'push'
    needs: [ resolve-runner ]
    uses: ./.github/workflows/validate_release.yml
    with:
      path:   plugins/source/aws
      runner: ${{ needs.resolve-runner.outputs.runner }}
  test-policies:
    timeout-minutes: 30
    needs: [resolve-runner]
    runs-on: ${{ needs.resolve-runner.outputs.runner }}
    defaults:
      run:
        working-directory: ./plugins/source/aws
    services:
      postgres:
        image: postgres:11
        env:
          POSTGRES_PASSWORD: pass
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version-file: plugins/source/aws/go.mod
          cache: true
          cache-dependency-path: plugins/source/aws/go.sum
      - name: Build
        run: go build .
      - name: Setup CloudQuery
        uses: cloudquery/setup-cloudquery@v3
        with:
          version: 'v2.0.22'
      - name: Migrate DB
        run: cloudquery migrate test/policy_cq_config.yml
        env:
          CQ_DSN: postgresql://postgres:pass@localhost:5432/postgres
      - name: Run all policies
        run: cd policies && psql -h localhost -p 5432 -U postgres -d postgres -w -f ./policy.sql
        env:
          PGPASSWORD: pass

      
