name: Source Plugin Hacker News Workflow

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - 'plugins/source/hackernews/**'
      - '.github/workflows/source_hackernews.yml'
  push:
    branches:
      - main
    paths:
      - 'plugins/source/hackernews/**'
      - '.github/workflows/source_hackernews.yml'

permissions:
  contents: read

jobs:
  plugins-source-hackernews:
    timeout-minutes: 30
    name: 'plugins/source/hackernews'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./plugins/source/hackernews
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - name: Set up Go 1.x
        id: setup-go
        uses: actions/setup-go@v6
        with:
          go-version-file: plugins/source/hackernews/go.mod
          cache: false
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ steps.setup-go.outputs.go-version }}-test-source-hackernews-${{ hashFiles('plugins/source/hackernews/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ steps.setup-go.outputs.go-version }}-test-source-hackernews-
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.10.1
          working-directory: plugins/source/hackernews
          args: '--config ../../.golangci.yml'
      - name: Setup CloudQuery
        if: github.event_name == 'pull_request'
        uses: cloudquery/setup-cloudquery@v4
        with:
          version: v6.34.3
      - name: gen
        if: github.event_name == 'pull_request'
        run: make gen
      - name: Fail if generation updated files
        if: github.event_name == 'pull_request'
        run: test "$(git status -s | wc -l)" -eq 0 || (git status -s; exit 1)
      - name: Build
        run: go build .
      - name: Test
        run: make test
