name: Source Plugin K8S Workflow

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - "plugins/source/k8s/**"
      - ".github/workflows/source_k8s.yml"
  push:
    branches:
      - main
    paths:
      - "plugins/source/k8s/**"
      - ".github/workflows/source_k8s.yml"

jobs:
  plugins-source-k8s:
    timeout-minutes: 30
    name: "plugins/source/k8s"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./plugins/source/k8s
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Set up Go 1.x
        uses: erezrokah/setup-go@feat/add_cache_prefix
        with:
          go-version-file: plugins/source/k8s/go.mod
          cache: true
          cache-dependency-path: plugins/source/k8s/go.sum
          cache-key-prefix: test-cache-
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.55.2
          working-directory: plugins/source/k8s
          args: "--config ../../.golangci.yml"
          skip-pkg-cache: true
          skip-build-cache: true
      - name: Setup CloudQuery
        if: github.event_name == 'pull_request'
        uses: cloudquery/setup-cloudquery@v3
        with:
          version: v5.20.4
      - name: gen
        if: github.event_name == 'pull_request'
        run: make gen
      - name: Fail if generation updated files
        if: github.event_name == 'pull_request'
        run: test "$(git status -s | wc -l)" -eq 0 || (git status -s; exit 1)
      - name: Build
        run: go build .
      - name: Test
        run: make test
  