name: Source Plugin K8S Workflow

on:
  pull_request:
    paths:
      - "plugins/source/k8s/**"
      - ".github/workflows/source_k8s.yml"
  push:
    branches:
      - main

defaults:
  run:
    working-directory: ./plugins/source/k8s

jobs:
  plugins-destination-k8s:
    name: "plugins/source/k8s"
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version: 1.19.1
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.49.0
          args: "--config ${GITHUB_WORKSPACE}/plugins/.golangci.yml"
      - name: Get dependencies
        run: go get -t -d ./...
      - name: Build
        run: go build .
      - name: Test
        run: go test ./...
