name: Source Plugin Okta Workflow

on:
  pull_request:
    paths:
      - "plugins/source/okta/**"
      - ".github/workflows/source_okta.yml"
  push:
    branches:
      - main

defaults:
  run:
    working-directory: ./plugins/source/okta

jobs:
  plugins-destination-okta:
    name: "plugins/source/okta"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version-file: plugins/source/okta/go.mod
          cache: true
          cache-dependency-path: plugins/source/okta/go.sum
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.49.0
          working-directory: plugins/source/k8s
          args: "--config ../../.golangci.yml"
      - name: Get dependencies
        run: go get -t -d ./...
      - name: Build
        run: go build .
      - name: Test
        run: go test ./...
