name: Source Plugin GCP Workflow

on:
  pull_request:
    paths:
      - "plugins/source/gcp/**"
      - ".github/workflows/source_gcp.yml"
  push:
    paths:
      - "plugins/source/gcp/**"
      - ".github/workflows/source_gcp.yml"
    branches:
      - main

defaults:
  run:
    working-directory: ./plugins/source/gcp

jobs:
  plugins-source-gcp:
    name: "plugins/source/gcp"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version-file: plugins/source/gcp/go.mod
          cache: true
          cache-dependency-path: plugins/source/gcp/go.sum
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.49.0
          working-directory: plugins/source/gcp
          args: "--config ../../.golangci.yml"
      - name: Get dependencies
        run: go get -t -d ./...
      - name: Build
        run: go build .
      - name: Test
        run: go test ./...
      - name: remove all docs
        run: rm -f ./docs/tables/*.md
      - name: build-docs
        run: go run main.go doc docs/tables
      - name: Fail if docs are changed
        run: test "$(git status -s ./docs/tables | wc -l)" -eq 0
