name: Unit Tests

on:
  pull_request:
    branches:
      - releases_v1
env: 
  CGO_ENABLED: 0
  CQ_NO_TELEMETRY: 1

jobs:
  resolve-modules:
    name: Resolve Modules
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v3
      - id: set-matrix
        run: ./scripts/resolve-modules.sh
  test_unit:
    name: Unit Tests
    needs: resolve-modules
    strategy:
      matrix: ${{ fromJson(needs.resolve-modules.outputs.matrix) }}
      fail-fast: false
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:11
        env:
          POSTGRES_PASSWORD: pass
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v26
        with:
          files: |
            ${{ matrix.workdir }}
            .github/workflows/test_unit.yml
          files_ignore: |
            ${{ matrix.workdir }}/CHANGELOG.md
      - name: Set up Go 1.x
        if: steps.changed-files.outputs.any_changed == 'true' || github.event_name != 'pull_request'
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - uses: actions/cache@v3
        if: steps.changed-files.outputs.any_changed == 'true' || github.event_name != 'pull_request'
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-1.18-${{ hashFiles(format('{0}/go.sum', matrix.workdir)) }}
          restore-keys: |
            ${{ runner.os }}-go-1.18-${{ matrix.workdir }}

      - name: Get dependencies
        if: steps.changed-files.outputs.any_changed == 'true' || github.event_name != 'pull_request'
        working-directory: ${{ matrix.workdir }}
        run: go get -v -t -d ./...

      - name: Test
        if: steps.changed-files.outputs.any_changed == 'true' || github.event_name != 'pull_request'
        run: go test -v ./...
        working-directory: ${{ matrix.workdir }}