name: Wait for all required workflows to pass

on:
  pull_request:
    branches:
      - main

jobs:
  wait_for_required_workflows:
    timeout-minutes: 60
    name: wait-for-required-workflows
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Get changed files
        id: changed-files
        uses: Ana06/get-changed-files@v2.2.0
      - uses: actions/github-script@v6
        env:
          FILES: ${{ steps.changed-files.outputs.all }}
        with:
          script: |
            const fs = require("fs");
            const files = process.env.FILES.split(' ')
            console.log(files)
            if (files.length >= 300) {
              // This is a GitHub limitation https://github.com/cloudquery/cloudquery/issues/2688
              throw new Error('Too many files changed. Skipping check. Please split your PR into multiple ones.')
            }
            let now = new Date().getTime()
            const deadline = now + 60 * 1000 * 50
            const matchesWorkflow = (file, action) => {
              if (!file.startsWith('.github/workflows/')) {
                return false
              }
              const contents = fs.readFileSync(file, 'utf8');
              return contents.includes(`name: "${action}"`)
            }
            const matchesFile = (action) => {
              return files.some(file => file.startsWith(`${action}/`) || matchesWorkflow(file, action))
            }
            const sources = fs.readdirSync("plugins/source", { withFileTypes: true }).filter(dirent => dirent.isDirectory()).map(dirent => `plugins/source/${dirent.name}`)
            const destinations = fs.readdirSync("plugins/destination", { withFileTypes: true }).filter(dirent => dirent.isDirectory()).map(dirent => `plugins/destination/${dirent.name}`)
            const allComponents = ["cli", "scaffold", ...sources, ...destinations]
            console.log(`All components: ${allComponents.join(", ")}`)
            let actions = allComponents.filter(action => matchesFile(action))
            if (actions.length === 0) {
              console.log("No actions to wait for")
              return
            }

            // Most modules should have a 'validate-release' job
            for (const action of actions) {
              actions = [...actions, 'validate-release']
            }

            // We test the CLI on multiple OSes, so we need to wait for all of them
            if (actions.includes("cli")) {
              actions = actions.filter(action => action !== "cli")
              actions = ["cli (ubuntu-latest)", "cli (windows-latest)", "cli (macos-latest)", ...actions]
            }

            // Enforce policy tests for AWS,GCP and K8s plugins
            const pluginsWithPolicyTests = ["plugins/source/aws", "plugins/source/azure", "plugins/source/gcp", "plugins/source/k8s"]
            for (const plugin of pluginsWithPolicyTests) {
              if (actions.includes(plugin)) {
                actions = [...actions, 'test-policies']
              }
            }
                  
            pending = new Map()
            for (const action of actions) {
              if (pending.has(action)) {
                pending.set(action, pending.get(action) + 1)
              } else {
                pending.set(action, 1)
              }
            }
                  
            // We'll store IDs for the processed entries in this array
            processed = []

            console.log(`Actions: ${actions.join(", ")}`)
            while (now <= deadline) {
              console.log(`Waiting for ${Array.from(pending.keys()).join(", ")}`)

              const checkRuns = (await github.paginate(github.rest.checks.listForRef, {
                owner: 'cloudquery',
                repo: 'cloudquery',
                ref: context.payload.pull_request.head.sha,
                status: 'completed',
                per_page: 100
              })).filter(({ id }) => !processed.includes(id)) // we filter out the runs we already processed
              
              const runs = checkRuns.map(({ id, name, conclusion }) => ({ id, name, conclusion }))
              console.log(`Got the following check runs: ${JSON.stringify(runs)}`)
              
              // save to processed
              processed = [...processed, ...runs.map(({ id }) => ({ id }))]

              const matchingRuns = runs.filter(({ name }) => pending.has(name))
              const failedRuns = matchingRuns.filter(({ conclusion }) => conclusion !== 'success')
              if (failedRuns.length > 0) {
                throw new Error(`The following required workflows failed: ${failedRuns.map(({ name }) => name).join(", ")}`)
              }
              console.log(`Matching runs: ${matchingRuns.map(({ name }) => name).join(", ")}`)
              
              for (const run of matchingRuns) {
                const name = run.name
                if (!pending.has(name)) {
                  // We didn't account for this check but matched this.
                  // This should never happen.
                  throw new Error(`Extra check matched: ${run}`)
                }
                // update value
                const left = pending.get(name)
                if (left === 1) {
                  pending.delete(name)
                } else {
                  pending.set(name, left - 1)
                }
              }
              
              if (pending.size === 0) {
                console.log("All required workflows have passed")
                return
              }

              await new Promise(r => setTimeout(r, 5000));
              now = new Date().getTime()
            }
            throw new Error(`Timed out waiting for ${pendingActions.join(', ')}`)

            
