name: Wait for all required workflows to pass

on:
  pull_request:
    branches:
      - main
      - feat/ci/move-wait-to-js-file # to make tests run

jobs:
  wait_for_required_workflows:
    timeout-minutes: 60
    name: wait-for-required-workflows
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Get changed files
        id: changed-files
        uses: Ana06/get-changed-files@v2.2.0
      - uses: actions/github-script@v6
        env:
          FILES: ${{ steps.changed-files.outputs.all }}
        with:
          script: |
            const script = require('./scripts/workflows/wait_for_required_workflows.js')
            await script({github, context})
